[defaults]
inventory         = inventory.ini
remote_user       = root
host_key_checking = true
stdout_callback   = yaml
collections_path  = ./collections

[ssh_connection]
ssh_args          = -o StrictHostKeyChecking=yes -o UserKnownHostsFile=/dev/null
pipelining        = true
